<div>
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
            <th scope="col">Quota Info</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Name:</th>
                <td><%= @quota.name %></td>
            </tr>
            <tr>
                <th scope="row">Hours:</th>
                <td><%= @quota.hours %> hours</td>
            </tr>
        </tbody>
    </table>
</div>
