<%# Display any form errors at the top of the form: %>
<% if @category.errors.any? %>
    <% @category.errors.full_messages.each do |error_message| %>
        <div class="alert alert-danger"><%= error_message %></div>
    <% end %>
<% end %>

<%# Display the form fields: %>

<p>
    <%= form.label :name, "Category Name"  %><br>
    <%= form.text_field(:name, {:class => 'form-control'}) %>
</p>
