<h1>Spreadsheets#index</h1>
<p>Find me in app/views/spreadsheets/index.html.erb</p>

<% @page_title = "Import Volunteers" %>

<h1>Import Volunteers</h1>

<h3>Import a CSV File</h3>
  <%= form_tag import_spreadsheets_path, multipart: true do %>
    <%= file_field_tag :uploaded_file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>
